@CHARSET "ISO-8859-1";
/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, span {
    margin:0;
    padding:0; }
  
a {
    color:#0000FF;
    text-decoration:none;
    cursor: pointer; }
  
    a:hover { text-decoration:underline; }
  
#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:10px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
    

 #pic {
  background-image: url('../images/user_structure.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
 }
#spacing {
  display: table-cell;
  vertical-align: top;
}
#message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}
.chatbox-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}
  
#usermsg {
    width:373px;
    height:22px;
    border:1px solid #ACD8F0;
    float:"left"
     }
  
#submit { width: 60px; }
  
.name_help { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left;
  }
  
.right { float:right; }
